<%- include('includes/head') %>
<%- include('includes/navbar') %>
    
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Olá <%= user.email %></h1>
        <p class="text-center lead">Começe adicionando seus contatos!</p>
        <p align="center"><a href="/contato/index"><button class="btn btn-info">Ir para Agenda</button></a></p>

        <%- include('includes/messages'); %>

      </div>

      <div class="col-lg-2"></div>
    </div>
  </div>

<%- include('includes/footer') %>
